@using Code.OutfitPatcher

@using Code.OutfitPatcher.Config
@using Radzen.Blazor


@inject TooltipService tooltipService
@inject SynPatch synPatch

@if (SynPatch.Settings==null)
{
    <div class="spinner-container">
        <span class="spinner"></span>
    </div>
}
else
{
    <RadzenTemplateForm Submit="@((User args1) =>  Submit(args1))">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <RadzenFieldset Text="Patcher Configuration">
                        <div class="row">
                            <div class="col-md-12">
                                    <RadzenSwitch @bind-Value=@value  Name="CheckBox1" TValue="bool" Change=@(args => OnChange(args, "CheckBox1 CheckBox")) />
                                    <RadzenLabel Text="CheckBox1" Component="CheckBox1" Style="margin-left: 5px; vertical-align: middle;")"/>
                            </div>
                            <div class="col-md-12">                        
                                <RadzenCheckBox @bind-Value=@value  Name="CheckBox2" TValue="bool" Change=@(args => OnChange(args, "CheckBox1 CheckBox")) />
                                <RadzenLabel Text="CheckBox11" Component="CheckBox2" Style="margin-left: 5px; vertical-align: middle;")"/>
                            </div>
                            <div class="col-md-12">
                                <RadzenCheckBox @bind-Value=@value  Name="CheckBox1" TValue="bool" Change=@(args => OnChange(args, "CheckBox1 CheckBox")) />
                                <RadzenLabel Text="CheckBox1" Component="CheckBox1" Style="margin-left: 5px; vertical-align: middle;")"/>
                            </div>
                            <div class="col-md-12">                        
                                <RadzenCheckBox @bind-Value=@value  Name="CheckBox2" TValue="bool" Change=@(args => OnChange(args, "CheckBox1 CheckBox")) />
                                <RadzenLabel Text="CheckBox11" Component="CheckBox2" Style="margin-left: 5px; vertical-align: middle;")"/>
                            </div>
                        </div>                
                    </RadzenFieldset>            
                </div>        
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel" />
                </div>
            </div>
        </div>
    </RadzenTemplateForm>
}

@code {


    bool value;
    bool disabledValue = true;


    protected override async Task OnInitializedAsync()
    {
        SynPatch.synPatch();
    //    user = SynPatch.Settings.User;
    }
    


    void OnChange(bool? value, string name)
    {
       Console.WriteLine($"{name} value changed to {value}");
    }


    void Submit(User c)
    {
        //
    }

    void Cancel()
    {
        //
    }
}
