@inherits LayoutComponentBase

@page "/templateform"

<RadzenLayout class="rz-shadow-3">
    <RadzenHeader>
        <div class="d-flex align-items-center mb-2">
            <div class="p-2 ms-3">
                <h3 id="title">Outfit Patcher</h3>
                <span id="subtitle" class="ms-2">A utility to create outfits from armor mods and distributes it to NPCs</span>
            </div>
        </div>
    </RadzenHeader>
    <RadzenBody>
        <div class="">
            <BodyContents/>
        </div>
    </RadzenBody>
</RadzenLayout>

